* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    background-color: black;
    height: 100vh;
}
.interface {
    max-width: 1280px;
    margin: 0 auto;
}
.flex {
    display: flex;
    
}
header {
    margin: 40px;
    padding: 100px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}
header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a {
    color: #3d3d3d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.50);
}
header nav ul {
    list-style-type: none;
}
header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}
.btn-contato button {
    padding: 10px 40px;
    font-size: 10px;
    font-weight: 600;
    background-color: #00ff00;
    cursor: pointer;
    transition: .2s;
}
button:hover, form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #00ff0868;
    transform: scale(1.05);
}

section .topo-do-site {
    padding: 80px 4%;
    
}
section .topo-do-site .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}
.topo-do-site .txt-topo-site h1 span {
    color: #00ff08;
}
.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
    font-size: 15px;
}
.topo-do-site .img-topo-site img {
    border-radius: 10px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

section .sobre {
    padding: 100px 8%;
}
section .sobre .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.sobre .txt-sobre {
    color: #fff;
    padding: 40px 4%;
}
.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txt-sobre h2 span {
    color: #00ff08;
    display: block;
}
.sobre .txt-sobre p {
    margin: 20px 0px;
    text-align: justify;
    font-size: 13px;
}
.logo img {
    width: 100%;
    margin: 40px 8%;
    color: #3d3d3d;
    transition: .2s;
}
.logo img:hover {
    color: #fff;
    transform: scale(1.09);
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00ff08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px ;
    transition: .2s;
}
.btn-social {
    margin-top: 35%;
}
section .portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(58, 58, 58, 0.205);
}
section .portifolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}
.img-port {
    width: 360px;
    height: 460px; 
    background-color: #00ff08;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0%;
    margin: 40px ;
    border-radius: 10px;
    transition: 8s;
    cursor: pointer;
    position: relative;

}
.img-port:hover {
    background-position: 100% 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000005a;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}
.overlay:hover {
    opacity: 1;
}

.overlay a {
    text-decoration: none;
    color: white;
}
.overlay a:hover {
    color: #00ff08;
}
section .formulario {
    padding: 80px 4%;
}
form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

h2 {
    color: #fff;
    font-size: 30px;
}
span {
    color: #00ff00;
}
form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
}
form textarea {
    resize: none;
    max-height: 250px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #00ff08;
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

form .btn-enviar input:hover {
    transform: scale(1.10);
    background-color: #2df92d;
}

footer {
    margin: 40px;
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .interface {
    padding: 10px 40px;
}

footer .line-footer {
    padding: 2px;
}

footer .logo-footer {
    margin-top: 25%;
}

.borda {
    border-bottom: 2px solid #00ff08;
}

footer .line-footer p i{
    color: #00ff08; 
    font-size: 22px; 
}

footer .line-footer p a {
    color: #00ff08;
}


/*--------------------------------------------@Media------------------------------------------------------*/
@media screen and (max-width: 1230px){
    .logo img {
        width: 80%;
    }
    .flex{
        flex-direction: column;
        
    }

    header {
        padding: 50px 4%;
    }

    header a {
        line-height: 1.5em;
    }

    .topo-do-site .txt-topo-site p {
        color: #fff;
        margin: 40px 4%;
        font-size: 15px;
    }
    .topo-do-site .txt-topo-site {
        margin: 80px 10%;
    }
    /*cabeçalho*/
    .menu-desktop, .btn-contato{
        display: none;
    }
    section .topo-do-site{
        padding: 20px 8%;
    }
    .topo-do-site h1{
        font-size: 30px;
    }
    h2 {
        font-size: 34px;
        line-height: 30px;
        color: #fff;
    }
    .topo-do-site .img-topo-site img {
        border-radius: 10px;
        position: relative;
        animation: flutuar 2s ease-in-out infinite alternate;
    }
    @keyframes flutuar {
        0%{
            top: 0;
        }
        100%{
            top: 30px;
        }
    }
    
    .especialidades {
        padding: 80px 10%;
    }    
    section .topo-do-site .flex {
        gap: 40px;
    }

    section .especialidades {
        padding: 40px 8%;
    }
    
    section .sobre {
        padding: 80px 8%;
    }
    
    section .sobre .flex{
        display: flex;
        flex-direction: reverse;
    }

    .btn-social {
        text-align: center;
    }
    .sobre .img-sobre img {
        width: 100%;
        padding: 40px 20%;
    }

    section .portifolio {
        padding: 80px 8%;
    }
    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 40px;
        display: block;
    }
    
    section .portifolio .flex {
        gap: 60px;
    }


    footer {
        margin: 0;
        padding: 40px 4%;
        box-shadow: 0 0 40px 10px #ffffff1d;
    }

    footer .flex {
        flex-direction: column;
    }
    footer .line-footer {
        justify-content: center;
        text-align: center;
    }
}
